/* ABOUT PAGE */
#about-page {
  background-color: rgba(236, 236, 236, 0.438);
  display: flex;
  /* padding: 75px; */
}

@media screen and (min-width: 1500px) {
  #about-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    margin-right: 50px;
  }
}
#me-intro {
  margin: 20px auto;
  width: 100%;
  max-width: 1000px;
  font-size: 18px;
}
#pic-box {
  max-width: 250px;
  width: auto;
  height: auto;
  float: left;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#me-intro img {
  width: 100%;
  box-shadow: 1px 5px 18px 3px rgba(0, 0, 0, 0.278);
}
#me-intro h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}

#paragraph-box {
  padding: 10px 25px;
  text-align: left;
}
@media screen and (max-width: 700px) {
  #me-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    flex-grow: 1;
  }
}

#skills-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
#skills-container p {
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
  margin-right: 20px;
  display: flex;
}
#skills-container i {
  font-size: 1.5rem;
  margin-right: 5px;
}
strong {
  font-weight: 600;
}

#what-i-do-container {
  margin-left: 80px;
  margin-right: 100px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#what-i-do {
  display: flex;
  flex-direction: column;

  /* flex-wrap: wrap; */
  /* margin: 30px; */
  justify-content: center;
}
.what-i-do-box {
  /* padding: 50px; */
  min-width: 300px;
  max-width: 350px;
  margin: 20px;
  /* border: 1px solid green; */
}
@media screen and (max-width: 1500px) {
  #what-i-do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .what-i-do-box {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 300px;
    max-width: 450px;
    margin: 5px;
    /* border: 1px solid green; */
  }
}
