/* HOME PAGE */
#home-page {
  margin-top: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: #131313;
}

#canvas1 {
  width: 800px;
  height: 600px;
  background-color: #131313;
  z-index: 1;
  text-align: center;
  position: absolute;
}
#canvas1:focus {
  outline: none;
}
@media screen and (min-width: 1200px) {
  #canvas1 {
    width: 1200px;
    height: 600px;
    max-height: 100%;
  }
}
#canvas2 {
  width: 300px;
  height: 500px;
  background-color: #131313;
  z-index: 1;
  text-align: center;
  position: absolute;
}

#canvas2:focus {
  outline: none;
}
@media screen and (min-width: 600px) {
  #canvas2 {
    width: 600px;
    height: 900px;
    max-height: 100%;
  }
}

.socials {
  font-size: 50px;
  text-decoration: none;
  z-index: 9999;
}

#to-about-page {
  font-size: 50px;
  color: white;
}
