@font-face {
  font-family: 'Permanent Marker';
  src: url('/media/PermanentMarker-Regular.ttf');
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
  /* border:2px solid black; */
  /* background-color: rgb(255,255,255) */
  /* background: rgba(239, 229, 243, 0.666); */
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 9999;
  /* left: 0; */
  /* right: 0; */
  width: 100%;
  transition: top 0.3s;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  /* background-color: rgba(11, 207, 181, 0.25); */
  color: #00e1ff;
}


/* body::after {
    content: "";
    background-image: url('../media/blue_tiles.jpg');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: -1;   
} */

h1 {
  font-weight: 500;
  font-size: 45px;
}

h2 {
  font-weight: 500;
  font-size: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}



/* @media only screen and (max-width:350px) {
  #canvas1 { 
    width: 280px;
    height: 250px;
    background-color: black;
  }
}
@media only screen and (max-width:600px) {
  #canvas1 { 
    width: 280px;
    height: 250px;
    background-color: black;
  }
} */


footer {

  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: auto;
  background-color: #131313;
  color: rgba(11, 207, 181, 1);
  /* padding: 5px 0; */
}

#menu {
  text-align: right;
}
#menu-button {
  margin-right: 20px;
  margin-top: 15px;
  background-color: white;
  font-size: 40px;
  border: none;
}
.class {
  color: #86ffff;
  background-color: #adfaff;
}