* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #d3fdfd1c;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: top 0.3s;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #86ffff;
}

h1 {
  font-weight: 500;
  font-size: 45px;
  border-bottom: 5px dashed #3dccccc0;
  /* font-family: "American Typewriter"; */
}

h2 {
  font-weight: 500;
  font-size: 30px;
}
section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}
footer {
  bottom: 0;
  width: 100%;
  /* padding-top: 15px; */
  padding: 10px;
  height: 50px;
  background-color: #131313;
  color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* color: rgba(11, 207, 181, 1); */
}
footer i {
  font-size: 30px;
}
/* #menu {
  text-align: right;
}
#menu-button {
  margin-right: 20px;
  margin-top: 15px;
  background-color: white;
  font-size: 40px;
  border: none;
} */
