* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  background-color: #d3fdfd1c;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  transition: top 0.3s;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #86ffff;
}

h1 {
  font-weight: 500;
  font-size: 45px;
  /* border-bottom: 5px dashed #3dccccc0; */
  /* font-family: "American Typewriter"; */
}

h2 {
  font-weight: 500;
  font-size: 30px;
}
section {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  text-align: center;
}
footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  height: 50px;
  background-color: #131313;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
footer i {
  font-size: 30px;
  /* padding-left: 10px; */
}
#name-and-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icon {
  /* text-decoration: none; */
  color: white;
  margin: 3px;
}
.social-icon:hover,
.socialicon:focus {
  color: rgb(84, 14, 175);
}
