#project-info-heading {
  margin-top: 50px;
}
#media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.media-box {
  max-width: 800px;
}
.media-box video {
  width: 98%;
}

.info-about-project {
  margin: 0px auto;
  padding: 10px;
  max-width: 810px;
  text-align: left;
}
.more-info {
  font-size: 16px;
  border-radius: 1px;
  font-weight: bold;
  background-color: white;
  padding: 10px;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  margin: 10px;
  margin-bottom: 40px;
}
.more-info:hover,
.more-info:focus {
  cursor: pointer;
  transform: scale(1.1);
  outline: none;
}

#how-it-works {
  text-align: left;
  margin: 0px auto;
  /* padding: 10px; */
  max-width: 810px;
}
#how-it-works h2 {
  font-size: 22px;
  padding-left: 10px;
}

#how-it-works h3 {
  font-size: 18px;
  margin-bottom: 0;
}
