* {
    box-sizing: border-box;
    
    }
    
 body {
        font-family: "Roboto",sans-serif;
        background-color: rgb(255,255,255)
        /* background: rgba(239, 229, 243, 0.666); */
} 
h1 {
    font-weight: 500;
    font-size: 50px;
}

    section {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        /* background-color: white; */
        padding: 10px 10px 50px 10px;
        text-align: center;
    }
/* HOME PAGE */
    .socials {
        font-size: 30px;
    }
    


    /* ABOUT PAGE */
    #skills-container {
        width: 100%;
        /* justify-content: center; */
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
        margin: 15px auto;
    }
    
    .skills-box {
        width: 45%;
        border-radius: 10px;
        height: auto;
        border: 4px; /* solid  rgb(207, 141, 223);*/
        margin: 5px;
        padding: 5px;
    }
    
    .skills-box i {
        font-size: 70px;
        line-height: 5rem;
    }
    
    .language-icons {
        display: inline-flex;
        justify-content: center;
        padding: 5px;
        font-size: 50px;
    }

/* WORK PAGE */

#home-page {
    display: flex;
}


/* CONTACT PAGE */

#contact-form {
	margin: 0 auto;
	width: 400px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
    font-size: 20px;
    margin-top: 40px;
    align-items: center;
}

#contact-form input {
	padding: 10px 10px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
}

#contact-form textarea {
	padding: 10px 10px;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
}

#contact-form label {
	margin: 10px;
} 

#contact-form button {
    border-radius: 5px;
    margin: 10px;
    width: 100px;
	padding: 10px 0;
	background-color: rgba(11, 207, 181, 0.75);
	transition: all 0.3s ease-in;
}

#contact-form button:hover {
	cursor: pointer;
	background-color:rgba(11, 207, 181, 1);
}

#contact-form i {
	font-size: 20px;
	color: rgb(255, 255, 255);
}

